@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&family=Zilla+Slab:wght@300;400;500;600&display=swap");
.App {
  text-align: center;
  font-family: "Zilla Slab", serif;
  height: auto;
}
body {
  background-color: black;
  color: white;
  font-family: "Zilla Slab", serif;
}
.spanRed {
  color: red;
}
header {
  font-size: 3rem;
}

.capsules {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1.25rem;
}
ul {
  padding-left: 0px;
}

.movieCards {
  margin-top: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 26rem;
  height: auto;
  padding: 1rem;
  border: 3px solid #101010;
}

.movieCards:hover {
  background-color: #101010;
}
.image {
  padding-top: 0.5rem;

  max-width: 24rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.infoCard {
  height: 100%;
  width: auto;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  .movieCards {
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: auto;
  }
}
